@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Nunito:wght@400;700&display=swap');

* {
    font-family: Nunito, sans-serif;
    font-size: 15px;
    color: black;
    box-sizing: border-box;
}

:root {
    --placeholder-color: rgb(77, 77, 77);
    --blue: #3a8efc;
    --blue-hover: #1770e6;
    --dark-blue: #0c428a;
    --dark-gray: #464646;
    --error-red: red;
}

h1 {
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: var(--blue);
    margin: 0px 0px 30px 0px; /* overrides default margin */
    text-align: left;
  }

.headerLink {
    margin: 5px;
}

.button.logout {
    float: right;
}