.link {
    margin: 5px;
}

.logOutButton {
    float: right;
    width: 100px;
    background-color: #398fff;
    transition: 250ms;
    color: white;
    padding: 10px;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logOutButton:hover {
    background-color: #1770e6;
    transition: 250ms;
}

.App {
    /* border-style: double; */
    /* border-color: black; */
    border-width: 5px;
}

* {
    font-family: Nunito, sans-serif;
}