.link {
    margin: 5px;
}

.logOutButton {
    float: right;
    margin: 5px;
    background-color: #72dfbe; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    /* text-align: center; */
    /* text-decoration: none; */
}

.logOutButton:hover {
    background-color: #268f6f;
}

.App {
    border-style: double;
    border-color: black;
    border-width: 5px;
}

body {
    font-family: Nunito, sans-serif;
  }