.button {
    /* text */
    color: rgb(36, 36, 36);
    font-weight: 700;
    text-decoration: none;

    /* border & bounds */
    background-color: #e6e6e6;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;

    /* other */
    cursor: pointer;
    transition: 250ms;
}

.button:hover {
    background-color: #cfcfcf;
    transition: 250ms;
}

/* button in blue, inherits from .button */
.button.primary {
    /* text */
    color: white;

    /* border & bounds */
    background-color: var(--blue);
}

.button.primary:hover {
    background-color: var(--blue-hover);
}

.link {
    color: var(--blue);
    transition: 250ms;
    font-weight: bold;
}

.link:hover {
    color: var(--dark-blue);
    font-weight: 900;
    transition: 250ms;
}

/* form submission button, inherits from .button */
input.field.button[type='submit'] {
    min-width: 50px;
    width: 100%;
    background-color: var(--blue);

    font-weight: bolder;
    color: white;
}

input.field.button[type='submit']:hover {
    background-color: var(--blue-hover);
}