.button.main {
    /* text */
    color: white;

    /* border & bounds */
    width: 100px;
    background-color: #398fff;
    padding: 10px;
    margin: 8px auto;
    border: none;
    border-radius: 4px;

    /* other */
    cursor: pointer;
    transition: 250ms;
}

.button.main:hover {
    background-color: #1770e6;
    transition: 250ms;
}

/* Log in / sign up link */
.formContainer .link {
    margin: 0px 5px;
    color: #1770e6;
    transition: 250ms;
    text-decoration: none;
    font-weight: bold;
}

.formContainer .link:hover {
    color: #0c428a;
    font-weight: 900;
    transition: 250ms;
}

input.field.button[type='submit'] {
    width: 30%;
    background-color: #398fff;
    padding: 10px;
    margin: 8px auto;
    border: none;
    border-radius: 4px;

    font-weight: bolder;
    color: white;
    
    transition: 250ms;
    cursor: pointer;
}

input.field.button[type='submit']:hover {
    background-color: #1770e6;
    transition: 250ms;
}