@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&display=swap');

.confirm.popup {
    font-family: Lato, sans-serif;
    background: var(--bg-base);
    border-radius: 10px;
    box-shadow: 0px 0px 30px 10px #00000015;
    
    color: var(--dark-gray);
    text-align: center;

    height: 150px;
    width: 300px;
    padding: 20px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confirm.popup .buttonContainer {
    display: flex;
    justify-content: space-evenly;
}

.confirm.popup .button.popupAlert {
    color: var(--error-red)
}

.confirm.popup .link {
    text-decoration: inherit;
}

.confirm.popup .divider {
    padding: 10px 0px;
}

.confirm.popup h3 {
    color: var(--text-field);
    font-family: inherit;
    margin: 0;
    font: inherit;
}