.contents.createPost {
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: auto; */

    padding: 40px 0 0;
}

.contents.createPost .formContainer {
    background-color: var(--bg-sec);
    border-radius: 15px;
    box-shadow: 0px 0px 30px 10px #00000015;
    max-width: 400px;
    width: 90%;
    min-width: 250px;
    padding: 30px 40px;
}

.contents.createPost label {
    margin-left: 12px;
}

.contents.createPost .buttonContainer {
    margin-top: 10px;
}

.contents.createPost .formSubmit {
    width: 100%;
}

.anonymous-toggle {
    display:flex;
    flex-direction:row;
}

.anonymouse-toggle-label {
    margin-top:9px;
}