input.field {
    /* text */
    color: rgb(77, 77, 77);
    font-size: 15px;
    /* border & bounds */
    width: 100%;
    margin: auto auto 10px;
    padding: 10px;
    border: 2px solid #eeeeee;
    border-radius: 7px;
    outline: none; /* prevents default browser outline */

    /* other */
    box-sizing: border-box;
    transition: 250ms;
}

/* outline with transition when in focus */
input.field:focus {
    border-color: #3574e9;
    transition: 250ms;
}
