.contents.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents.home .container.postView {
    margin: 20px 0px;
}

.contents.home .searchBar {
    width: 500px;
}

.contents.home .css-1s2u09g-control, 
.contents.home .css-1pahdxg-control,
.contents.home .css-1pndypt-Input {
    background-color: var(--bg-field) !important;
    cursor: text !important;
    color: var(--text) !important;
}