@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Nunito&display=swap');


h1 {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputBox {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}