.container.postView {
    display: flex;
    align-items: center;
    flex-direction: column;

    /* padding: 40px 0 0; */
}

.container.postView > * {
    margin-top: 15px;
}

.container.postView > *:first-child {
    margin-top: 0px;
}

.container.postView .contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: var(--bg-sec);
    border-radius: 10px;
    box-shadow: 0px 0px 30px 10px #00000015;
    width: 100%;
    padding: 20px 20px 0;
}

.container.postView .contents.presetSize {
    width: clamp(270px, 90%, 500px);
}

.container.postView .contents > * {
    margin-top: 10px;
}

.container.postView .contents > *:first-child{
    margin-top: 0px;
}

.container.postView .contents > *:last-child {
    margin-top: 0px;
    margin-bottom: 15px;
}

.container.postView .userInfo {
    color: var(--text-field);
    display: flex;
    align-items: center;
}

.container.postView .userInfo > * {
    margin-left: 10px;
}

.container.postView .userInfo > *:first-child {
    margin-left: 0px;
}

.container.postView .likeButton {
    font-size: 13px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--bg-sec);
}

.container.postView .likeButton img {
    height: 20px;
    width: 20px;
}

.container.postView .profilePic {
    width: 50px;
    height: 50px;
    border-radius: 80px;
    object-fit: cover;
}

.container.postView .author {
    color: var(--text);
    /* margin: 0px 10px 0px 20px; */
    font-size: 17px;
    font-weight: bold;
}

.container.postView .date {
    font-size: 12px;
}

.container.postView .dot {
    font-size: 10px;
    /* margin-right: 10px; */
}


.container.postView .pushRight {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container.postView .post {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

.container.postView .newComment {
    display: flex;

    flex-direction: column;
}

.container.postView ul {
    padding: 10px;
    max-height: 250px;
    overflow: auto;

    background-color: var(--bg-base);
    border-radius: 5px;
    border-style: solid;
    border-color: var(--border);
}

.container.postView .topics {
    display: flex;
}

.container.postView .topicsTitle {
    font-weight: bold;
}

.container.postView .postComment {
    padding: 5px 0px;
}

.container.postView .numComments {
    font-size: 13px;
}

.container.postView .commentLabel {
    color: var(--placeholder);
}

.container.postView .commentError {
    color: var(--red);
}

.container.postView .commentHeader {
    display: flex;
}

.container.postView .commentHeader > * {
    padding-left: 5px;
}

.container.postView .commentHeader > *:first-child {
    padding-left: 0px;
    font-weight: bold;
}

.container.postView .formSubmit {
    margin-top: 10px;
}