.container.postView {
    display: flex;
    align-items: center;
	justify-content: center;

    padding: 40px 0 0;
}

.container.postView .contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: var(--bg-sec);
    border-radius: 10px;
    box-shadow: 0px 0px 30px 10px #00000015;
    max-width: 500px;
    width: 90%;
    min-width: 270px;
    padding: 20px 20px 0;
}

.container.postView .contents > * {
    margin-top: 10px;
}

.container.postView .contents > *:first-child{
    margin-top: 0px;
}

.container.postView .contents > *:last-child {
    margin-top: 0px;
    margin-bottom: 15px;
}

.container.postView .userInfo {
    color: var(--text-field);
    display: flex;
    align-items: center;
}

.container.postView .userInfo > * {
    margin-left: 10px;
}

.container.postView .userInfo > *:first-child {
    margin-left: 0px;
}

.container.postView .likeButton {
    border: none;
    background-color: var(--bg-sec);
}

.container.postView .likeButton img {
    height: 40px;
    width: 40px;
}

.container.postView .profilePic {
    width: 50px;
    height: 50px;
    border-radius: 80px;
    object-fit: cover;
}

.container.postView .author {
    color: var(--text);
    /* margin: 0px 10px 0px 20px; */
    font-size: 17px;
    font-weight: bold;
}

.container.postView .date {
    font-size: 12px;
}

.container.postView .dot {
    font-size: 10px;
    /* margin-right: 10px; */
}

.container.postView .pushRight {
    margin-left: auto;
}

.container.postView .post {
    margin-bottom: 0;
}

.container.postView .newComment {
    display: flex;

    flex-direction: column;
}

.container.postView ul {
    padding: 10px;
    max-height: 250px;
    overflow: auto;

    background-color: var(--bg-base);
    border-radius: 5px;
    border-style: solid;
    border-color: var(--border);
}

.container.postView .postComment {
    padding: 5px 0px;
}

.container.postView .commentHeader {
    display: flex;
}

.container.postView .commentHeader > * {
    padding-left: 5px;
}

.container.postView .commentHeader > *:first-child {
    padding-left: 0px;
    font-weight: bold;
}

.container.postView .formSubmit {
    margin-top: 10px;
}