.container.postView {
    display: flex;
    align-items: center;
    flex-direction: column;

    /* padding: 40px 0 0; */
}

.container.postView > * {
    margin-top: 15px;
}

.container.postView > *:first-child {
    margin-top: 0px;
}

.container.postView .contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: var(--bg-sec);
    border-radius: 10px;
    box-shadow: 0px 0px 30px 10px #00000015;
    width: 100%;
    padding: 20px 20px 0;
}

.container.postView .contents.presetSize {
    width: clamp(270px, 100%, 500px);
}

.container.postView .contents.interaction {
    padding-left: 5px;
    padding-right: 5px;
}

.container.postView .interaction.userInfo {
    margin-left: 10px;
}

.container.postView .contents.interaction .inlinePost {
    padding-left: 8px;
    padding-right: 8px;
}

.container.postView .contents > * {
    margin-top: 10px;
}

.container.postView .contents > *:first-child{
    margin-top: 0px;
}

.container.postView .contents > *:last-child {
    margin-top: 0px;
    margin-bottom: 15px;
}

.container.postView .userInfo {
    color: var(--text-field);
    display: flex;
    align-items: center;
}

.container.postView .userInfo .postData {
    color: var(--text-field);
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.container.postView .userInfo .postData > * {
    margin-left: 10px;
}

.container.postView .userInfo .postData > *:first-child {
    margin-left: 0px;
}

.save-svg {
    fill: none;
    stroke: var(--text); 
    height: var(--svg-size); 
    width: var(--svg-size);
    stroke-linecap: round; 
    stroke-linejoin: round; 
    stroke-width: 2;

    transition: none;
}

.save-svg.primary {
    fill: var(--blue);
    stroke: var(--blue);
}

.like-svg { 
    fill: none;
    stroke: var(--text);
    stroke-width: 15px;
    height: var(--svg-size);
    width: var(--svg-size);

    transition: 0ms;
}

.primary .like-svg {
    fill: var(--blue);
    stroke: var(--blue);
}

.container.postView .likeButton {
    font-size: 13px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--bg-sec);
}

.container.postView .primary.likeButton {
    color: var(--blue);
}

.container.postView .profilePic {
    width: 50px;
    height: 50px;
    border-radius: 80px;
    object-fit: cover;
}

.container.postView .author {
    color: var(--text);
    /* margin: 0px 10px 0px 20px; */
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

.container.postView .date {
    font-size: 12px;
}

.container.postView .dot {
    font-size: 10px;
    /* margin-right: 10px; */
}


.container.postView .pushRight {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container.postView .post {
    margin-top: 10px !important;
    margin-bottom: 5px !important;

    overflow-wrap: anywhere;
}

.container.postView .newComment {
    display: flex;

    flex-direction: column;
}

.container.postView ul {
    padding: 10px;
    max-height: 250px;
    overflow: auto;

    background-color: var(--bg-base);
    border-radius: 5px;
    border-style: solid;
    border-color: var(--border);
}

.container.postView .topics {
    display: flex;
}

.container.postView .topicsTitle {
    font-weight: bold;
}

.container.postView .postComment {
    padding: 5px 0px;
}

.container.postView .postComment p {
    margin: 0;
    overflow-wrap: break-word;
}

.container.postView .numComments {
    font-size: 13px;
    font-weight: 600;
}

.container.postView .commentLabel {
    color: var(--placeholder);
}

.container.postView .commentError {
    color: var(--error-red);
}

.container.postView .commentHeader {
    display: flex;
}

.container.postView .commentHeader > * {
    padding-left: 5px;
}

.container.postView .commentHeader > *:first-child {
    padding-left: 0px;
    font-weight: bold;
}

.container.postView .formSubmit {
    margin-top: 10px;
}

@media (max-width: 500px) {
    .dot {
        display: none;
    }

    .postData {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .postData .date {
        margin-left: 0 !important;
    }
}